*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fragment Mono', monospace;
    list-style: none;
    text-decoration: none;
}

.beats{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}

.beat{
    width: 24%;
    height: 370px;
    border-radius: 10px;
    transition: opacity 2s;
}

.black{
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    row-gap: 1rem;
    opacity: 0;
    transition: opacity .3s;
}

.btn{
    display: flex;
}

.beat-name{
    font-size: 25px;
    color: white;
}

.beat-tags{
    font-size: 20px;
    color: white;
}

.beat:hover > .black{
    opacity: 1;
}

.play,
.pause{
    color: white;
    font-size: 5rem;
    cursor: pointer;
}

.link{
    margin-top: 10px;
    color: white;
    font-size: 3.5rem;
}
