*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fragment Mono', monospace;
    list-style: none;
    text-decoration: none;
}

.main{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: center;
}

.main-text{
    display: flex;
    column-gap: 2rem;
}

.link{
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.link-indicator {
    width: 12px;
    height: 12px;
    border: 1px solid red;
    flex: none;
    transition: all .5s ease;
}

.link:hover > .link-indicator{
    background: red;
}

.transform{
    animation: transform 20s infinite ease;
    width: 200px;
    height: 200px;
}

@keyframes transform {
    0% {
        transform: translateX(-100px);
    }

    25% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateX(100px);
    }

    75% {
        transform: translateY(100px);
    }

    100% {
        transform: translateX(-100px);
    }
}
